<footer>
  <div>
    <%= image_tag "/images/logo/logo2.png", alt: "No Wifi Summercamp" %>
  </div>
  <div class="content-info">
    <p><%= data.settings.author.address %></p>
    <p>Tel : <%= data.settings.author.phone %></p>
    <p>Mail : <%= data.settings.author.email %></p>
    <p>Suivez vous sur <%= link_to "Facebook", data.settings.social.facebook %></p>
    <p>et sur <%= link_to "Twitter", data.settings.social.twitter %></p>
  </div>

  <nav class="navigation">
    <ul>
      <li><%=link_to "Accueil", "/" %></li>
      <li><%=link_to "Camp", "/camp.html" %></li>
      <li><%=link_to "Equipe", "/equipe.html" %></li>
      <li><%=link_to "Activités", "/activites.html"%></li>
      <li><%=link_to "Blog", "/blog.html" %></li>
      <li><%=link_to "Réservation", "/reservation.html" %></li>
      <li><%=link_to "Mentions légales", "/mentions-legales.html" %></li>
      <li><%=link_to "Conditions générales de vente", "/cgv.html" %></li>
    </ul>
  </nav>
  <p><%= Time.now.year %></p> ' <%= link_to data.settings.author.name, "/" %> ' - Design et développement : <%= link_to data.settings.copyright.developer.name, data.settings.copyright.developer.url %>
</footer>
