<div class="banner">
  <div>
    <%= image_tag "/images/logo/logo.png", alt: "No Wifi Summercamp" %>
    <nav class="navigation">
      <ul>
        <li><%=link_to "Accueil", "/" %> </li>
        <li><%=link_to "Camp", "/camp.html" %> </li>
        <li><%=link_to "Equipe", "/equipe.html" %> </li>
        <li><%=link_to "Activités", "/activites.html" %> </li>
        <li><%=link_to "Blog", "/blog.html" %> </li>
        <li><%=link_to "Réservation", "/reservation.html" %> </li>
      </ul>
    </nav>
  </div>
</div>
