<% wrap_layout :layout do %>
  <div class="main">
    <%= partial "partials/header" %>

    <aside>
      <% author = find_author(current_article.data.author) %>
      <div class="container blog">
        <div class="row">
          <div class="col-xs-12 col-md-2 text-center article-info">
            <%= image_tag "/images/members/thumbs/#{author.picture}", class: "img-author-blog" %>
            <h3 class="blog-author"><%= author.name %></h3>
            <div class="trait-blog"></div>
            <p><span>Publié le :</span> <%= I18n.l current_page.date, format: '%e %b %Y' %></p>
            <p><span>Dans : </span> <%= current_article.data.category %></p>
          </div>
          <div class="col-xs-12 col-md-10">
            <article>
              <div class="blog-intro">
                <%= current_article.data.excerpt %>
              </div>
              <%= yield %>
              <nav class="navigation">
                <ul>
                  <li>
                    <% prev_article = current_article.previous_article %>
                    <% if prev_article %>
                      <%= link_to prev_article.title, prev_article.url, rel: 'prev', title: "Article précédent: #{prev_article.title}" %>
                    <% end %>
                  </li>
                  <li>
                    <% next_article = current_article.next_article %>
                    <% if next_article %>
                      <%= link_to next_article.title, next_article.url, rel: 'next', title: "Article suivant: #{next_article.title}" %>
                    <% end %>
                  </li>
                </ul>
              </nav>
              <%= disqus %>
            </article>
          </div>
        </div>
      </div>
    </aside>
  </div>
<% end %>
