<% locals = current_resource.metadata[:locals] %>
<% prev_page = locals['prev_page'] %>
<% page_number = locals['page_number'] %>
<% num_pages = locals['num_pages'] %>
<% next_page = locals['next_page'] %>

<div class="container">
  <div class="navbar-categories">
    <span>Catégories : </span>
    <%= link_to "La vie  au camp",      category_path("la-vie-au-camp") %> /
    <%= link_to "Activités",            category_path("activites") %> /
    <%= link_to "Reportage photos",     category_path("reportage-photos") %> /
    <%= link_to "Portrait de résident", category_path("portrait-de-resident") %> /
    <%= link_to "Conseils",             category_path("conseils") %> /
    <%= link_to "Lifehack",             category_path("lifehack") %>
  </div>

  <div class="row">
    <% page_articles.each_with_index do |article, i| %>
      <div class="article">
        <div class="col-xs-12 col-md-2">
          <%= image_tag "/images/blog/thumbs/#{article.data.thumbnail}", class: "img-center" %>
        </div>
        <div class="col-xs-12 col-md-10 content-article">
          <h2><%= link_to article.title, article %></h2>
          <p class="meta-article">' Publié le <%= I18n.l article.date, format: '%e %b %Y' %> ' par <%= article.data.author %></p>
          <p><%= article.data.excerpt %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>

<% if num_pages > 1 %>
  <nav class="navigation">
    <% if prev_page %>
      <%= link_to '< Billets récents', prev_page %>
    <% end %>
    <span>
      '  Page #{page_number}
      '  sur #{num_pages}
    </span>
    <% if next_page %>
      <%= link_to 'Billets anciens >', next_page %>
    <% end %>
  </nav>
<% end %>
