<%# Set the title %>
<% title = current_page.data.title if title.blank? %>

<header class="text-center">
  <%#Check if it's the homepage %>
  <% if current_page.url == '/' %>
    <div class="wrapper">
      <%= image_tag "/images/logo/logo-home.png", srcset: "/images/logo/logo-home.png 1x, /images/logo/logo-home@2x.png 2x", class: "header-logo", alt: "No Wifi Summercamp, camp de vacances en plein air" %>
      <div class="header-content">
        <p class="header-slogan"><%= current_page.data.slogan_sup %></p>
        <p class="header-title"><%= current_page.data.slogan %></p>
        <h1 class="header-infos"><%= title %></h1>
      </div>
    </div>
  <% else %>
  <div class="wrapper">
    <h1 class="header-title"><%= title %></h1>
  </div>
  <% end %>
</header>
